[Unit]
Description=Run git-auto-push periodically

[Timer]
# Tempo de espera após o sistema/sessão iniciar antes do primeiro run
OnBootSec=15min
# Intervalo regular entre as execuções
OnUnitActiveSec=1h
Persistent=true

[Install]
WantedBy=timers.target
