[Unit]
Description=Polybar
After=graphical-session.target

[Service]
ExecStart=/usr/bin/polybar bar1
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=default.target
