[submodule "Latex"]
    path = Latex
	url = git@github.com:joaobertholino/Latex.git
[submodule ".config/doom"]
	path = .config/doom
	url = git@github.com:joaobertholino/doom.git
[submodule ".config/xournalpp"]
	path = .config/xournalpp
	url = git@github.com:joaobertholino/xournalpp.git
